<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988007689143-4ka6k84gbss20niapsv2ki82h629b2hl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988007689143-4ka6k84gbss20niapsv2ki82h629b2hl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>988007689143-pfheh3dnjke5b0d92839gtmqtaea7huj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAouh_6hE6hic8QuU6WSJTjbPQ3KCSKktA</string>
	<key>GCM_SENDER_ID</key>
	<string>988007689143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neatTip</string>
	<key>PROJECT_ID</key>
	<string>neat-tip</string>
	<key>STORAGE_BUCKET</key>
	<string>neat-tip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988007689143:ios:4682a6aa148acf568c9632</string>
</dict>
</plist>